
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.nav-link {
  text-decoration: none;
  color: rgb(252, 252, 252);
}

html {
  overflow-x: hidden;
}

nav {
  background-color: rgba(23, 21, 27, 0.3);
  z-index: 10;
  /* position: sticky; */
}

.callus {
  color: rgb(252, 252, 252);
}

header {
  display: flex;
  justify-content: space-around;
  background-image: url(images/shipping.jpg);
  /* background-attachment: fixed; */
  background-size: cover;
  /* position: fixed; */
  margin: 0 auto;
  height: 90%;
  /* background-color: var(--dark); */
  color: #fff;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in;
  z-index: 2;
}

.navbar-collapse{
  display: flex;
  justify-content: space-around;
  
}

.logoimagetopnav{
  display: none;
}

.hero {
  height: 90vh;
  /* background-image: url(/images/truckwithmountainview.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 3;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.container {
  z-index: 2;
}

.content {
  color: black;
}

.nav-link:hover {
  color: rgb(255, 140, 140);
}

.aboutuscontent {
  min-height: 70vh;
  display: flex;
  overflow-x: hidden;
  background-color: #e7e8ed;
  /* justify-content: center; */
}

.aboutuscontent section {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.aboutuscontent h1 {
  font-weight: 700;
}

.aboutuscontent p {
  color: rgb(117, 117, 117);
  line-height: 2rem;
}

.line{
  border: 2px solid rgb(255, 140, 140);
  width: 20%;
}

.gridcontent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
}

.gridcontent a{
  color: rgb(255, 140, 140);
}

.airfreight {
  position: relative;
  z-index: 2;
  background: url(images/grid2.jpg);
  background-size: cover;
  color: #fff;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}



.oceanfreight {
  position: relative;
  z-index: 2;
  background: url(images/shippingtothesunset.jpg);
  background-size: cover;
  color: #fff;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;

}
.warehouse {
  position: relative;
  z-index: 2;
  background: url(images/grid1.jpg);
  background-size: cover;
  color: #fff;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}
.logistics {
  position: relative;
  z-index: 2;
  background: url(images/getquote2.jpg);
  background-size: cover;
  color: #fff;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.airfreight:hover, .oceanfreight:hover, .warehouse:hover, .logistics:hover {
    transform: scaleY(1.1);
  }

.airfreight::before,
.oceanfreight::before,
.warehouse::before,
.logistics::before {
  content: '';
  position: absolute;
  top: 100;
  left: 0;
  width: 100%;
  height: 101%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -3;
}
.airfreight::before:hover,
.oceanfreight::before:hover,
.warehouse::before:hover,
.logistics::before:hover {

  background-color: rgba(0, 0, 0, 0.6);
  z-index: -3;
}

.getquote {


  background: url(images/getquote1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica;
  letter-spacing: 0.02em;
   font-weight: 400;
  -webkit-font-smoothing: antialiased; 
}


.blurred-box{
  position: relative;
  max-width: 450px;
  max-height: 650px;
  top: calc(50% - 175px);
  left: calc(50% - 175px); 
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
}

.blurred-box:after{
 content: '';
 width: 600px;
 height: 700px;
 background: inherit; 
 position: absolute;
 left: -25px;
 right: 0;
 top: -25px;  
 bottom: 0;
 box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
 filter: blur(10px);
}

.formcontent{
  z-index: 2;
  /* width: 900px; */
}

#sendquote{
  
  background-color: rgb(255, 140, 140);
  color: #fff;
  -webkit-appearance: none;
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;

}

.counter-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.maincounter {
  font-size: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #192027;
}

.testimonial-container {
  border: 2px solid rgb(255, 140, 140);
  color: #fff;
  margin: 0px auto;
  padding: 50px 80px;
  max-width: 768px;
  font-size: 25px;
  position: relative;
}

.reviewscontent{
  background-color: #192027;

}


.testimonial {
  line-height: 28px;
  text-align: justify;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user .user-image {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.user .user-details {
  margin-left: 10px;
}

.user .username {
  margin: 0;
}

.user .role {
  font-weight: normal;
  margin: 10px 0;
}

.progress-bar {
  color: rgb(255, 140, 140);
  height: 4px;
  width: 100%;
  animation: grow 10s linear infinite;
  transform-origin: left;
}


.footer-big {
  padding:105px 0 65px 0
 }
 .footer-big .footer-widget {
  margin-bottom:40px
 }
 .footer--light {
  background:#e7e8ed
 }
 .footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
  color:#898b96
 }
 .footer-menu {
  padding-left:48px
 }
 .footer-menu ul li a {
  font-size:15px;
  line-height:32px;
  -webkit-transition:.3s;
  -o-transition:.3s;
  transition:.3s
 }
 .footer-menu ul li a:hover {
  color:#5867dd
 }
 .footer-menu--1 {
  width:100%
 }
 .footer-widget-title {
  line-height:42px;
  margin-bottom:10px;
  font-size:18px
 }
 .mini-footer {
  background:#192027;
  text-align:center;
  padding:32px 0
 }
 .mini-footer p {
  margin:0;
  line-height:26px;
  font-size:15px;
  color:#999
 }
 .mini-footer p a {
  color:#5867dd
 }
 .mini-footer p a:hover {
  color:#34bfa3
 }
 .widget-about img {
  display:block;
  margin-bottom:30px
 }
 .widget-about p {
  font-weight:400
 }
 .widget-about .contact-details {
  margin:30px 0 0 0
 }
 .widget-about .contact-details li {
  margin-bottom:10px
 }
 .widget-about .contact-details li:last-child {
  margin-bottom:0
 }
 .widget-about .contact-details li span {
  padding-right:12px
 }
 .widget-about .contact-details li a {
  color:#5867dd
 }

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}



@media (max-width: 991px){

  .logoimagetopnav{
    display: block;
  }

  .logoimage{
    display: none;
  }

  .aboutuscontent{
    flex-direction: column;
    width: 100%;
  }

  .aboutuscontent section{
    line-height: 1rem;
    width: 100%;
    
  }
  .gridcontent {
    grid-template-columns: repeat(1, 1fr);
  }

  .blurred-box{
    max-width: 350px;
    max-height: 520px;
    top: calc(50% - 275px);
    left: calc(50% - 160px); 

  }

  .navbar-collapse{
    display: flex;
    flex-direction: column;
  }

  .callus{
    border: red;
  }
  


  .hero {
    height: 60vh;
    /* background-image: url(/images/truckwithmountainview.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 3;
  }
  
  header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
  }
  
  .maincounter {
    font-size: 20px;
    display: flex;
    flex-direction: column;

  }

}