:root {
  --red: #a60000;
  --gray: #37a3a5;
  --dark: #f39927;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* utilities */

.mainheader1 {
  font-weight: 500;
  font-size: 25px;
}
.mainheader2 {
  font-weight: 300;
  font-size: 25px;
}

.mainparagraph {
  font-size: 14px;
  font-weight: 300;
}
.mainparagraphsmall {
  font-size: 10px;
  font-weight: 300;
}
.mainparagraph2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.relativecontainer{
  position: relative;
}

/* end */


/* nav bar */
.nav-link {
  text-decoration: none;
  color: rgb(252, 252, 252);
}

html {
  overflow-x: hidden;
}

nav {
  background-color: #000;
  /* background-color: rgba(23, 21, 27, 0.1); */
  z-index: 10;
  /* position: sticky; */
}

a.btnstyling {
  text-decoration: none;
  color: #fff;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid var(--red);
  transition: all 0.4s ease-in;
}
a.btnstyling:hover {
  text-decoration: none;
  background-color: var(--red);
  color: #fff;
  border: 2px solid var(--red);
}
.navbarleftandright {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.rightcontent {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  /* background-color: black;
  height: 100%; */
}

.dropdown-menu {
  left: -30px !important;
  background-color: #000 !important;
  color: #fff !important;
}
.dropdown-item{
  color: #fff !important;
}
.dropdown-item:hover{
  background: var(--red) !important;
}

/* navbar end */

.callus {
  color: rgb(252, 252, 252);
}

header {
  display: flex;
  justify-content: space-around;
  overflow-x: hidden;
  margin: 0 auto;
  height: 90%;
  /* background-color: var(--dark); */
  background-color: black;
  color: black;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in;
  z-index: 2;
}

.headermain {
  font-size: 70px;
  font-weight: 600;
  line-height: 80px;
}

.navbar-collapse {
  display: flex;
  justify-content: space-around;
}

.logoimagetopnav {
  display: none;
}

.hero {
  height: 55vh;
  /* background-image: url(/images/truckwithmountainview.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  /* justify-content: center; */
  align-items: center;
  /* text-align: center; */
  position: relative;
  z-index: 3;
}
.heroaboutus {
  height: 40vh;
  /* background-image: url(/images/truckwithmountainview.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  /* justify-content: center; */
  align-items: center;
  /* text-align: center; */
  position: relative;
  z-index: 3;
}

.sectionherounicornimage {
  height: 100%;
  object-fit: contain;
  overflow: scroll;
}

.righthero {
  background-color: #fff;
  height: 100%;
}

.container {
  z-index: 2;
}

.content {
  color: black;
}

.nav-link:hover {
  color: var(--red);
}

.aboutuscontent {
  min-height: 60vh;
  display: flex;
  overflow-x: hidden;
  background-color: #fff;
}

.aboutuscontent section {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: justify;
}

.aboutuscontent p {
  color: rgb(117, 117, 117);
  line-height: 2rem;
}
.hero p {
  color: rgb(179, 179, 179);
  line-height: 2rem;
}

.line {
  border: 2px solid var(--red);
  width: 20%;
}

.bottomaboutuscontent {
  list-style-type: none;
}

.bottomaboutuscontent i {
  color: rgb(87, 87, 87);
}

.bottomaboutuscontent h3 {
  border-bottom: 4px solid var(--red);
  margin: 0 auto;
  width: 50%;
}
.gridcontent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.readmore {
  color: var(--red);
  text-decoration: none;
}
a.readmore {
  text-decoration: none;
  transform: translate(0.2);
}

.logistics,
.airfreight,
.oceanfreight,
.warehouse {
  background-color: #000;
  color: #fff;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.airfreight:hover,
.oceanfreight:hover,
.warehouse:hover,
.logistics:hover {
  border-bottom: 2px solid var(--red);
  transform: scaleY(1.05);
  cursor: pointer;
}
.getquote {
  background: url(/images/background1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 90vh;
  font-family: Arial, Helvetica;
  letter-spacing: 0.02em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.blurred-box {
  position: relative;
  max-width: 450px;
  max-height: 650px;
  top: calc(50% - 275px);
  left: calc(50% - 175px);
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
}

.blurred-box:after {
  content: '';
  width: 600px;
  height: 700px;
  background: inherit;
  position: absolute;
  left: -25px;
  right: 0;
  top: -25px;
  bottom: 0;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
  filter: blur(10px);
}

.formcontent {
  z-index: 2;
  /* width: 900px; */
}

#sendquote {
  background-color: var(--red);
  color: #fff;
  -webkit-appearance: none;
  font-size: 14px;
  font-weight: 300;
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.counter-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.maincounter {
  font-size: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #192027;
}

.testimonial-container {
  color: #fff;
  margin: 0px auto;
  padding: 50px 80px;
  max-width: 768px;
  font-size: 25px;
  position: relative;
  z-index: 5;
}

.reviewscontent {
  background: url(/images/reviewsimg.jpg);
  object-fit: cover;
  background-size: cover;
  position: relative;
  z-index: 3;
}

.reviewscontent::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
}

.testimonial {
  color: #fff;
  font-size: 18px;
  line-height: 35px;
  font-weight: 300;
  text-align: center;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user .user-image {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.progress-bar {
  background-color: var(--red) !important;
  height: 4px;
  width: 100%;
  animation: grow 10s linear infinite;
  transform-origin: left;
}

/* map */
/* #mapid {
  height: 180px;

} */
/* end */

/* news letter */
.newslettersubscribe {
  padding: 40px;
  background: #7e8890;
}
h2,
h6 {
  color: #e6e6e6;
}
.form-subscribe {
  max-width: 600px;
}
.form-subscribe .form-control {
  background-color: hsla(0, 100%, 100%, 0.8);
  letter-spacing: 1px;
  height: 45px;
  border: none;
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
}
.form-subscribe .form-control.focus,
.form-subscribe .form-control:focus {
  z-index: 2;
  background-color: hsla(0, 0%, 100%, 0.8);
}
.form-subscribe .btn {
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;
  background: var(--red);
  /* border-color: #7ec855; */
  color: #fff;
  height: 46.5px;
}

/* end */

.footer-big {
  padding: 5px 0 5px 0;
}
.footer-big .footer-widget {
  margin-bottom: 40px;
}
.footer--light {
  background: #e7e8ed;
}
.footer-big .footer-menu ul li a,
.footer-big p,
.footer-big ul li {
  color: #898b96;
}
/* .footer-menu {
  padding-left: 48px;
} */
.footer-area ul li a {
  font-size: 12px;
  line-height: 23px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  list-style-type: none;
}
.footer-menu ul li a:hover {
  color: var(--red);
}
.footer-menu--1 {
  width: 100%;
}
.footer-widget-title {
  margin-bottom: 10px;
  font-size: 14px;
}
.mini-footer {
  background: #192027;
  text-align: center;
  padding: 32px 0;
}
.mini-footer p {
  margin: 0;
  line-height: 26px;
  font-size: 15px;
  color: #999;
}
.mini-footer p a {
  color: var(--red);
}
/* .mini-footer p a:hover {
  transform: scaleY(1.2);
 } */
.widget-about img {
  display: block;
  margin-bottom: 30px;
}
.widget-about p {
  font-weight: 400;
}

.widget-about .contact-details li {
  margin-bottom: 10px;
}
.widget-about .contact-details li:last-child {
  margin-bottom: 0;
}
.widget-about .contact-details li span {
  padding-right: 12px;
}
.widget-about .contact-details li a {
  color: var(--red);
}

/* air freight */
.colorred {
  color: var(--red);
}

.airfreightdetails {
  font-weight: 400;
  font-size: 12px;
}

.circle {
  /* width: 225px;
  height: 207px; */
  /* float: left;
  margin-right: 15px; */
  -webkit-shape-outside: circle();
  shape-outside: circle();
  background: none;
  border: none;
  width: 350px;
  height: 350px;
}

/* .wrapper {
  column-count: 2;
  column-gap: 50px;
  padding: 50px;
} */

.wrapper li {
  line-height: 1.6;
  text-align: justify;
  margin: 0;
  font-size: 14px;
}

.circle {
  float: left;
  width: 500px;
  height: 500px;
  -webkit-shape-outside: circle();
  shape-outside: circle();
  shape-margin: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* .moon {
  border-radius: 50%;
  height: 500px; 
  width:200px;
  background-color: #2badd9;
  float: right;
  shape-outside: inset(1% round 50%);
  margin-left: 20px;
  margin-bottom: 10px;
} */

.servicesheader {
  color: var(--red);
  font-size: 100px;
  font-weight: light;
}

.servicessection ul {
  list-style-type: none;
}


.servicessection a {
  color: #898b96;
}
.servicessection a:hover {
  color: #192027 !important;
  /* font-size: 40px;
  border-bottom: 2px solid var(--red); */
}
.servicessection a:hover {
  text-decoration: none;
}

.airfreightdetails h3 {
  font-weight: 300;
}

.paragraphconstant {
  font-weight: 300;
  font-size: 16px;
}

.textgray {
  color: #898b96;
}

.servicestop img {
  object-fit: cover;
  width: 100%;
  height: 400px;
  overflow-x: hidden;
}

/* about us */

.aboutuscontentmain {
  height: 200vh;
  background: #000;
  color: #bbbbbb;
  overflow-y: hidden;
  overflow-x: hidden;
}

.aboutusrow {
  background: #192027;
  height: 50vh;
}
.aboutusleftcolumn {
  background: #192027;
  background-image: url(/images/hunters-race-MYbhN8KaaEc-unsplash.jpg);
  background-size: cover;
}
.aboutusleftcolumn img {
  object-fit: cover;
}
.aboutusrightcolumn {
  background: #e6e6e6;
}

.bloboutside{
  position: absolute;
  left: 320px;
}
.bloboutside2{
  position: absolute;
  right: 960px;
  transform: rotate(180deg);
  /* transform: scale(0.6); */
  bottom: 150px;
}

/*end  */
.maintext {
  color: #192027 !important;
  font-size: 30px;
  border-bottom: 2px solid var(--red);
}

.navbarmobile {
  display: none;
}

li {
  list-style: none;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}

@media (max-width: 769px) {
  .hero {
    /* height: 65vh; */
    background-image: url(/images/sectionheroimage.png);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    /* color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: relative;
    z-index: 3;
  }

  .nodisplay{
    display: none !important;
  }
}
@media (max-width: 991px) {
  .logoimagetopnav {
    display: block;
  }

  .navbar-collapse#navbarSupportedContent {
    align-items: left !important;
  }

  .navbarmobile {
    display: block;
  }

  nav {
    background-color: black;
    /* position: sticky; */
  }

  .navbarleftandright {
    display: none;
  }

  .logoimage {
    display: none;
  }

  .aboutuscontent {
    flex-direction: column;
    width: 100%;
  }

  .aboutuscontent section {
    line-height: 1rem;
    width: 100%;
  }
  .gridcontent {
    grid-template-columns: repeat(1, 1fr);
  }

  .blurred-box {
    max-width: 350px;
    max-height: 520px;
    top: calc(50% - 275px);
    left: calc(50% - 160px);
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column;
  }

  .callus {
    border: red;
  }

  .heroaboutus{
    overflow-x: hidden;
  }

  .headermain {
    font-size: 45px;
    line-height: 50px;
  }
  .maincounter {
    font-size: 20px;
    display: flex;
    flex-direction: column;
  }

  .testimonial-container {
    max-width: 100%;
  }

  .testimonial {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    padding: 10px;
  }

  .user .user-image {
    height: 55px;
    width: 55px;
  }

  .user-details h4 {
    font-size: 12px;
  }
  .user-details p {
    font-size: 11px;
  }
}
